doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(href='/stylesheets/jquery.bootgrid.css', rel='stylesheet')
    link(href='/stylesheets/jquer-grid-custom.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='/javascripts/jquery-1.9.1.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/jquery.bootgrid.min.js')
    script(src='/javascripts/custom-scripts.js')
    |  
    
  body
    block content